<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (typeof locals.user !== 'undefined' ) { %>
        <%= 'Bienvenido ' + locals.user.firstName + '!' %>
      <% } else {  %>
        <%= 'Hola Invitado!' %>
      <% } %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    </head>
<body>
  
  <!--  Encabezado-->
  
    <header class="main-header">
      <div class="container">
        <div class="row justify-content-between">
    <!-- Logo -->

      <a class="navbar-brand logo" href="/">El Palenque</a>

      <% if ( locals.isLogged ) { %>
        <div class=col-3></div>
        <div class="align-self-center">
          <a class="btn btn-primary" href="/user/profile" role="button" class="btn-login">Perfil</a>
        </div>
        <div class="align-self-center">
          <a class="btn btn-danger" href="/user/logout" role="button" class="btn-login">Cerrar Sesión</a>
        </div>
        
        <!-- Carrito -->
        <div class="align-self-center">
          <a class="btn btn-secondary cart" href="/user/cart" role="button">
            <img src="/images/cart.png" alt="Carrito" />
          </a>
        </div>
        <!-- div class="cart-container align-self-center">
          <button class="btn btn-secondary cart"  type="button" data-toggle="collapse" data-target="#show-cart">
            <img src="/images/cart.png" alt="Carrito" />
          </button>
          <div class="cart-products collapse" id="show-cart"><!-- hidden-->
              <!-- div class="cart-product">
                  <img src="https://via.placeholder.com/20" alt="Producto1"  />
                  <div class="cart-product-info">
                      <span class="cantidad">1</span>
                      <p>Producto1</p>
                      <p>$50,00</p>
                      <p class="cambiar-cantidad">
                          <button>-</button>
                          <button>+</button>
                      </p>
                      <p class="cart-product-delete">
                          <button>Eliminar</button>
                      </p>
                  </div>
              </div>
          </div>
        </div-->

        <!-- Login -->
      <% } else { %>
      <div class=col-3></div>
        <div class="cart-container align-self-center">
          <button class="btn btn-primary"  type="button" data-toggle="collapse" data-target="#login">Ingresar</button>
          <div class="cart-products collapse" id="login"><!-- hidden-->

            <div class="row">
              <div class="card signin cart-product">
                <div class="card-body">
                  <form action="/user/login" method="POST">
                    <div class="col-12 form-group">
                      <label for="email" class="login-datos">Email</label>
                      <input type="email" class="form-control" name="email">
                      <i class="invalid-feedback"></i>
                    </div>
                    <div class="col-12 form-group">
                      <label for="password"class="login-datos">Clave</label>
                      <input type="password" class="form-control" name="password">
                      <i class="invalid-feedback"></i>
                    </div>
                      <div class="col-12 form-group">
                        <label>
                          <input type="checkbox" name="remember">
                          Recordarme
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary" class="btn-login" >Iniciar sesión</button>
                  </form>
                  <div id="forgot">
                    <a href="#" class="olvido">¿Olvidó su clave?</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="align-self-center">
          <a class="btn btn-secondary" href="/user/registro" role="button" class="btn-login">Registrarse</a>
        </div>
      <% } %>

      </div>
      </div>
    </header>

    <!--  Navbar -->
    
      <nav class="navbar navbar-custom navbar-expand-lg navbar-dark">
       <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggler" aria-controls="nav-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="nav-toggler">
      <ul class="navbar-nav w-100 justify-content-around">
        <li class="nav-item dropdown active">

          <!--
          <a class="nav-link dropdown-toggle" 
          href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inicio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/products/">Lista productos</a>
          </div>
        </li>
        -->

        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq/">Preguntas frecuentes</a>
        </li>
      </ul>
    </div>
 
    </div>
    </nav>
    <!-- Fin Navbar -->